<!-- header -->
<div class="top-header-area" id="sticker">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12 text-center">
        <div class="main-menu-wrap">
          <!-- logo -->
          <div class="site-logo">
            <a href="index.html">
              <img src="assets/img/logo.png" alt="">
            </a>
          </div>
          <!-- logo -->

          <!-- menu start -->
          <nav class="main-menu">
            <ul>
              <li class="current-list-item"><a href="">Trang chủ</a>

              </li>
              <li><a href="#">Danh mục </a>
                <ul class="sub-menu">
                  <li class="active" data-filter="*" *ngFor="let item of dsLoaiSP"><a
                      (click)="locSP(item.IDLOAI)">{{item.TENLOAI}}</a></li>
                </ul>
              </li>
              <li><a href="news.html">Tư vấn </a>
                <ul class="sub-menu">
                  <li><a href="news.html">News</a></li>
                  <li><a href="single-news.html">Single News</a></li>
                </ul>
              </li>
              <li><a href="contact.html">Về chúng tôi</a></li>
              <li><a href="shop.html">Chính sách đổi trả</a>
                <ul class="sub-menu">
                  <li><a href="shop.html">Shop</a></li>
                  <li><a href="checkout.html">Check Out</a></li>
                  <li><a href="single-product.html">Single Product</a></li>
                  <li><a href="cart.html">Cart</a></li>
                </ul>
              </li>
              <li>
                <div class="header-icons">
                  <a routerLink="/cart" routerLinkActive="router-link-active"><span class="material-symbols-rounded">
                      local_mall
                    </span>
                    <strong>{{totalItem}}</strong></a>

                  <a class="mobile-hide search-bar-icon" href="#"><span class="material-symbols-rounded">
                      search
                    </span></a>
                </div>
              </li>
            </ul>
          </nav>
          <a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
          <div class="mobile-menu"></div>
          <!-- menu end -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end header -->

<!-- search area -->
<div class="search-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <span class="close-btn"><span id="ICD1" class="material-symbols-rounded">
            close
          </span></span>
        <div class="search-bar">
          <div class="search-bar-tablecell">
            <h3>Tôi đang tìm kiếm...</h3>
            <input type="text" placeholder="">
            <button type="submit">Tìm kiếm </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end search area -->
