<app-header></app-header>
<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>LA ROCHE POSAY
            </p>
						<h1>Tin tức mới</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- latest news -->
	<div class="latest-news pt-150 pb-150">
		<div class="container">

			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">
						<h3>Có gì <span class="orange-text">mới</span></h3>
						<p>NHÃN HÀNG SỐ 1 ĐƯỢC CÁC CHUYÊN DA CHĂM SÓC DA KHUYÊN DÙNG TRÊN TOÀN THẾ GIỚI</p>

					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="single-latest-news">
						<a href="single-news.html">
							<div class="latest-news-bg news-bg-1"></div>
						</a>
						<div class="news-text-box">
							<h3><a href="single-news.html">KHÁM PHÁ NGUỒN CỦA CHÚNG TÔI</a></h3>
							<p class="blog-meta">
								<span class="author"><i class="fas fa-user"></i> Ngô Văn Luân</span>
								<span class="date"><i class="fas fa-calendar"></i> 01/07/2001</span>
							</p>
							<p class="excerpt">Có nguồn gốc từ La Roche-Posay, Pháp và là thành phần cốt lõi trong các
								sản phẩm chăm sóc da của chúng tôi, nước suối nóng này tự nhiên giàu khoáng chất với đặc
								tính làm dịu và chống oxy hóa.</p>
							<a href="single-news.html" class="read-more-btn">Tìm hiểu thêm </a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-latest-news">
						<a href="single-news.html">
							<div class="latest-news-bg news-bg-2"></div>
						</a>
						<div class="news-text-box">
							<h3><a href="single-news.html">BÊN TRONG CÔNG THỨC CỦA CHÚNG TÔI</a></h3>
							<p class="blog-meta">
								<span class="author"><i class="fas fa-user"></i> Ngô Văn Luân</span>
								<span class="date"><i class="fas fa-calendar"></i> 01/07/2001</span>
							</p>
							<p class="excerpt">Tìm hiểu về các thành phần chính bên trong công thức của chúng tôi. Khám
								phá hướng dẫn an toàn và thành phần mới của chúng tôi để giúp bạn hiểu rõ hơn về những
								gì bên trong các sản phẩm La Roche-Posay yêu thích của bạn.</p>
							<a href="single-news.html" class="read-more-btn">Tìm hiểu thêm</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
					<div class="single-latest-news">
						<a href="single-news.html">
							<div class="latest-news-bg news-bg-3"></div>
						</a>
						<div class="news-text-box">
							<h3><a href="single-news.html">TÌM KEM DƯỠNG ẨM CỦA BẠN PHÙ HỢP</a></h3>
							<p class="blog-meta">
								<span class="author"><i class="fas fa-user"></i> Ngô Văn Luân</span>
								<span class="date"><i class="fas fa-calendar"></i>01/07/2001</span>
							</p>
							<p class="excerpt">Cần giúp đỡ để quyết định loại kem dưỡng ẩm nào phù hợp với bạn? Làm một
								bài kiểm tra ngắn để tìm ra loại kem dưỡng ẩm da mặt tốt nhất cho loại da của bạn.</p>
							<a href="single-news.html" class="read-more-btn">Tìm hiểu thêm</a>
						</div>
					</div>
				</div>
			</div>
      <div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="single-latest-news">
						<a href="single-news.html">
							<div class="latest-news-bg news-bg-1"></div>
						</a>
						<div class="news-text-box">
							<h3><a href="single-news.html">KHÁM PHÁ NGUỒN CỦA CHÚNG TÔI</a></h3>
							<p class="blog-meta">
								<span class="author"><i class="fas fa-user"></i> Ngô Văn Luân</span>
								<span class="date"><i class="fas fa-calendar"></i> 01/07/2001</span>
							</p>
							<p class="excerpt">Có nguồn gốc từ La Roche-Posay, Pháp và là thành phần cốt lõi trong các
								sản phẩm chăm sóc da của chúng tôi, nước suối nóng này tự nhiên giàu khoáng chất với đặc
								tính làm dịu và chống oxy hóa.</p>
							<a href="single-news.html" class="read-more-btn">Tìm hiểu thêm </a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-latest-news">
						<a href="single-news.html">
							<div class="latest-news-bg news-bg-2"></div>
						</a>
						<div class="news-text-box">
							<h3><a href="single-news.html">BÊN TRONG CÔNG THỨC CỦA CHÚNG TÔI</a></h3>
							<p class="blog-meta">
								<span class="author"><i class="fas fa-user"></i> Ngô Văn Luân</span>
								<span class="date"><i class="fas fa-calendar"></i> 01/07/2001</span>
							</p>
							<p class="excerpt">Tìm hiểu về các thành phần chính bên trong công thức của chúng tôi. Khám
								phá hướng dẫn an toàn và thành phần mới của chúng tôi để giúp bạn hiểu rõ hơn về những
								gì bên trong các sản phẩm La Roche-Posay yêu thích của bạn.</p>
							<a href="single-news.html" class="read-more-btn">Tìm hiểu thêm</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
					<div class="single-latest-news">
						<a href="single-news.html">
							<div class="latest-news-bg news-bg-3"></div>
						</a>
						<div class="news-text-box">
							<h3><a href="single-news.html">TÌM KEM DƯỠNG ẨM CỦA BẠN PHÙ HỢP</a></h3>
							<p class="blog-meta">
								<span class="author"><i class="fas fa-user"></i> Ngô Văn Luân</span>
								<span class="date"><i class="fas fa-calendar"></i>01/07/2001</span>
							</p>
							<p class="excerpt">Cần giúp đỡ để quyết định loại kem dưỡng ẩm nào phù hợp với bạn? Làm một
								bài kiểm tra ngắn để tìm ra loại kem dưỡng ẩm da mặt tốt nhất cho loại da của bạn.</p>
							<a href="single-news.html" class="read-more-btn">Tìm hiểu thêm</a>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 text-center">
					<a href="news.html" class="boxed-btn">Thêm nhiều tin tức mới về chúng tôi ?</a>
				</div>
			</div>

	<!-- end latest news -->

			<div class="row">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 text-center">
							<div class="pagination-wrap">
								<ul>
									<li><a href="#">Trước</a></li>
									<li><a href="#">1</a></li>
									<li><a class="active" href="#">2</a></li>
									<li><a href="#">3</a></li>
									<li><a href="#">Tiếp</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end latest news -->
  <app-footer></app-footer>
