<!-- home page slider -->
<div class="homepage-slider">
  <!-- single home slider -->
  <div class="single-homepage-slider homepage-bg-1">
    <img class="ABN1"
      src="https://www.dermaclub.com.vn/dw/image/v2/BFZM_PRD/on/demandware.static/-/Sites-acd-vn-ng-Library/vi_VN/dw81023498/SIS%20LRP/KV%2031.10%20LRP.jpg?sw=2000&sh=694&sm=cut&q=70"
      alt="">

    <div class="container">

      <div class="row">
        <div class="col-md-12 col-lg-7 offset-lg-1 offset-xl-0">
        </div>
      </div>
    </div>
  </div>
  <!-- single home slider -->
  <div class="single-homepage-slider homepage-bg-2">
    <img class="ABN1"
      src="https://www.dermaclub.com.vn/dw/image/v2/BFZM_PRD/on/demandware.static/-/Sites-acd-vn-ng-Library/vi_VN/dw6331e989/SIS%20LRP/1.11%20thu%20thap.jpg?sw=2000&sh=694&sm=cut&q=70"
      alt="">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 offset-lg-1 text-center">
          <!-- <div class="hero-text">
							<div class="hero-text-tablecell">
								<p class="subtitle">Fresh Everyday</p>
								<h1>100% Organic Collection</h1>
								<div class="hero-btns">
									<a href="shop.html" class="boxed-btn">Visit Shop</a>
									<a href="contact.html" class="bordered-btn">Contact Us</a>
								</div>
							</div>
						</div> -->
        </div>
      </div>
    </div>
  </div>
  <!-- single home slider -->
  <div class="single-homepage-slider homepage-bg-3">
    <img class="ABN1"
      src="https://www.dermaclub.com.vn/dw/image/v2/BFZM_PRD/on/demandware.static/-/Sites-acd-vn-ng-Library/vi_VN/dwcb69b762/SIS%20LRP/1.11%20siue%20vhoucer.jpg?sw=2000&sh=694&sm=cut&q=70"
      alt="">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 offset-lg-1 text-right">
          <!-- <div class="hero-text">
							<div class="hero-text-tablecell">
								<p class="subtitle">Mega Sale Going On!</p>
								<h1>Get December Discount</h1>
								<div class="hero-btns">
									<a href="shop.html" class="boxed-btn">Visit Shop</a>
									<a href="contact.html" class="bordered-btn">Contact Us</a>
								</div>
							</div>
						</div> -->
        </div>
      </div>
    </div>
  </div>
  <!-- single home slider -->
  <div class="single-homepage-slider homepage-bg-4">
    <img class="ABN1"
      src="https://www.dermaclub.com.vn/dw/image/v2/BFZM_PRD/on/demandware.static/-/Sites-acd-vn-ng-Library/vi_VN/dw4f5e36b9/SIS%20LRP/1.111%20qua%20vui.jpg?sw=2000&sh=694&sm=cut&q=70"
      alt="">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 offset-lg-1 text-right">
          <!-- <div class="hero-text">
							<div class="hero-text-tablecell">
								<p class="subtitle">Mega Sale Going On!</p>
								<h1>Get December Discount</h1>
								<div class="hero-btns">
									<a href="shop.html" class="boxed-btn">Visit Shop</a>
									<a href="contact.html" class="bordered-btn">Contact Us</a>
								</div>
							</div>
						</div> -->
        </div>
      </div>
    </div>
  </div>
  <!-- single home slider -->
  <div class="single-homepage-slider homepage-bg-5">
    <img class="ABN1"
      src="https://www.dermaclub.com.vn/dw/image/v2/BFZM_PRD/on/demandware.static/-/Sites-acd-vn-ng-Library/vi_VN/dw419d13fb/SIS%20LRP/mua%20hang%20chinh%20hang%2010.3.jpg?sw=2000&sh=694&sm=cut&q=70"
      alt="">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 offset-lg-1 text-right">
          <!-- <div class="hero-text">
							<div class="hero-text-tablecell">
								<p class="subtitle">Mega Sale Going On!</p>
								<h1>Get December Discount</h1>
								<div class="hero-btns">
									<a href="shop.html" class="boxed-btn">Visit Shop</a>
									<a href="contact.html" class="bordered-btn">Contact Us</a>
								</div>
							</div>
						</div> -->
        </div>
      </div>
    </div>
  </div>
  <!-- single home slider -->
  <div class="single-homepage-slider homepage-bg-6">
    <img class="ABN1"
      src="https://www.dermaclub.com.vn/dw/image/v2/BFZM_PRD/on/demandware.static/-/Sites-acd-vn-ng-Library/vi_VN/dwc84aeeda/SIS%20LRP/S%E1%BB%91%20l%C6%B0%E1%BB%A3ng%20voucher%20c%C3%B3%20h%E1%BA%A1n.jpg?sw=2000&sh=656&sm=cut&q=70"
      alt="">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 offset-lg-1 text-right">
          <!-- <div class="hero-text">
							<div class="hero-text-tablecell">
								<p class="subtitle">Mega Sale Going On!</p>
								<h1>Get December Discount</h1>
								<div class="hero-btns">
									<a href="shop.html" class="boxed-btn">Visit Shop</a>
									<a href="contact.html" class="bordered-btn">Contact Us</a>
								</div>
							</div>
						</div> -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end home page slider -->
<!-- Start img-->
<div class="img-banner">
  <img class="img-b-1"
    src="https://www.laroche-posay.us/dw/image/v2/AANG_PRD/on/demandware.static/-/Sites-lrp-us-Library/default/dw143fb25b/images/homepage/AfterPay-Banner-Desktop-2880x300.jpg?sw=1998&sh=208&sm=cut&q=70"
    alt="Enjoy now and pay later in four installments. Choose Afterpay at checkout.">
  <p class="p-b-1">Thưởng thức ngay bây giờ và thanh toán sau trong bốn đợt <br> Chọn Sau khi thanh toán.</p>
  <a href="about.html" class="a-b-1">Tìm hiểu ngay</a>
</div>
<!-- end img-->
<!-- advertisement section -->
<div class="abt-section mb-150">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="abt-bg">
          <a href="https://www.youtube.com/watch?v=VDystPq0TUo&t=3s" class="video-play-btn popup-youtube"><i
              class="fas fa-play"></i></a>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="abt-text">
          <p class="top-sub">Since Year 1975</p>
          <h2>Chúng tôi là <br> <span class="orange-text">La Roche-Posay</span></h2>
          <p>Tại sao La Roche-Posay được 90,000 bác sĩ da liễu trên toàn thế giới khuyên dùng?</p>
          <p>Bởi vì chúng tôi hợp tác với các bác sĩ da liễu để phát triển cách chăm sóc da hiệu quả tạo
            ra sự khác biệt như Double Repair Face Moisturizer.
          </p>
          <a href="about.html" class="boxed-btn mt-4">Tìm hiểu ngay</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end advertisement section -->
<!-- features list section -->

<!-- product section -->
<div class="product-section mt-150 mb-150">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <div class="section-title">
          <h3>SẢN PHẨM <span class="orange-text">BÁN CHẠY</span></h3>
        </div>
      </div>
      <div class="ABNTTSPBC">
        <img class="ABNTT2" src="assets/img/Ảnh_trang_chủ/Sản_phẩm_bán_chạy.png" alt="">
        <a href="#" class="TTLK2">Tìm hiểu ngay</a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-4 text-center" *ngFor="let item of sanphambanchay.slice(0, 8)">
        <div class="single-product-item">
          <div class="product-image">
            <a (click)="chitiet(item)"><img src="{{urlimage}}{{item.IMAGE}}" alt=""></a>
          </div>
          <a (click)="chitiet(item)">
            <h3>{{item.TENSP}}</h3>
          </a>
          <div class="product-price"><s>{{item.GIANHAP | currency:'₫ ':'symbol':'1.0'}}
            </s>
            <p>{{item.GIABAN | currency:'₫ ':'symbol':'1.0'}}</p>
          </div>
          <a (click)="addToCart(item)" class="cart-btn-L"> Thêm vào giỏ</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end product section -->
<!-- product section -->
<div class="product-section mt-150 mb-150">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <div class="section-title">
          <h3>TẨY TRANG <span class="orange-text">LA ROCHE POSAY</span></h3>
        </div>
      </div>
      <div class="ABNTT">
        <img class="ABNTT1" src="assets/img/Ảnh_trang_chủ/Tẩy_trang.png" alt="">
        <h2 class="TTTT1">TẨY TRANG</h2>
        <a href="#" class="TTLK">Tìm hiểu ngay</a>
        <p class="TTTT2">
          NHẸ NHÀNG LOẠI BỎ 99% KEM NỀN MÀI MÒN LÂU <br>
          • 94% cho biết nó dễ chịu khi tẩy trang mặt <br>
          • 94% cho biết làn da của họ được để lại trong lành và sạch sẽ <br>
          • 93% cho biết nó đã loại bỏ hoàn hảo tạp chất và bụi bẩn<br>
          * Kết quả dựa trên thử nghiệm của người tiêu dùng trong bốn tuần</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-4 text-center" *ngFor="let item of taytrang.slice(0, 4) ">
        <div class="single-product-item">
          <div class="product-image">
            <a (click)="chitiet(item)"><img src="{{urlimage}}{{item.IMAGE}}" alt=""></a>
          </div>
          <a (click)="chitiet(item)">
            <h3>{{item.TENSP}}</h3>
          </a>
          <div class="product-price"><s>{{item.GIANHAP | currency:'₫ ':'symbol':'1.0'}}
            </s>
            <p>{{item.GIABAN | currency:'₫ ':'symbol':'1.0'}}</p>
          </div>
          <a (click)="addToCart(item)" class="cart-btn-L"> Thêm vào giỏ</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end product section -->
<!-- product section -->
<div class="product-section mt-150 mb-150">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <div class="section-title">
          <h3><span class="orange-text">SỮA RỬA MẶT </span></h3>
        </div>
      </div>
      <div class="ABNSRM">
        <img class="ABNSRM1" src="assets/img/Ảnh_trang_chủ/Sữa_rửa_mặt.png" alt="">
        <h2 class="SRM1">SỮA RỬA MẶT</h2>
        <a href="#" class="SRM2">Tìm hiểu ngay</a>
        <p class="SRM3">
          SỮA RỬA MẶT DẠNG GEL TẠO BỌT CHO DA DẦU
          <br>
          • Thanh lọc da dầu mà không bị khô
          <br>
          • Loại bỏ tạp chất dư thừa và bã nhờn dư thừa (dầu)<br>
          • Thử nghiệm trên da bị mụn trứng cá<br>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-4 text-center" *ngFor="let item of suaruamat.slice(0, 4) ">
        <div class="single-product-item">
          <div class="product-image">
            <a (click)="chitiet(item)"><img src="{{urlimage}}{{item.IMAGE}}" alt=""></a>
          </div>
          <a (click)="chitiet(item)">
            <h3>{{item.TENSP}}</h3>
          </a>
          <div class="product-price"><s>{{item.GIANHAP | currency:'₫ ':'symbol':'1.0'}}
            </s>
            <p>{{item.GIABAN | currency:'₫ ':'symbol':'1.0'}}</p>
          </div>
          <a (click)="addToCart(item)" class="cart-btn-L"> Thêm vào giỏ</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end product section -->
<!-- product section -->
<div class="product-section mt-150 mb-150">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <div class="section-title">
          <h3><span class="orange-text">TẨY TẾ BÀO CHẾT & MẶT NẠ </span></h3>
        </div>
      </div>
      <div class="ABNTTBC">
        <img class="ABNTTBC1" src="assets/img/Ảnh_trang_chủ/Tẩy_tế_bào_chết.png" alt="">
        <h2 class="TTBC">TẨY TẾ <br> BÀO CHẾT</h2>
        <a href="#" class="TTBC1">Tìm hiểu ngay</a>
        <p class="TTBC2">
          MẶT NẠ ĐẤT SÉT SHINE CONTROL <br>
          • 98% cho biết sản phẩm giúp da sạch sẽ và thông thoáng <br>
          • 94% cho biết sản phẩm giúp da mềm mại <br>
          • 94% cho biết làn da cảm thấy thanh lọc và khỏe mạnh hơn <br>
          * Kết quả dựa trên thử nghiệm của người tiêu dùng trong bốn tuần
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-4 text-center" *ngFor="let item of taytebaochet.slice(0, 4) ">
        <div class="single-product-item">
          <div class="product-image">
            <a (click)="chitiet(item)"><img src="{{urlimage}}{{item.IMAGE}}" alt=""></a>
          </div>
          <a (click)="chitiet(item)">
            <h3>{{item.TENSP}}</h3>
          </a>
          <div class="product-price"><s>{{item.GIANHAP | currency:'₫ ':'symbol':'1.0'}}
            </s>
            <p>{{item.GIABAN | currency:'₫ ':'symbol':'1.0'}}</p>
          </div>
          <a (click)="addToCart(item)" class="cart-btn-L"> Thêm vào giỏ</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end product section -->

<!-- product section -->
<div class="product-section mt-150 mb-150">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <div class="section-title">
          <h3><span class="orange-text">XỊT KHOÁNG</span></h3>
        </div>
      </div>
      <div class="ABNXK">
        <img class="ABNXK1" src="assets/img/Ảnh_trang_chủ/Xịt_khoáng.png" alt="">
        <h2 class="XK">XỊT KHOÁNG</h2>
        <a href="#" class="XK1">Tìm hiểu ngay</a>
        <p class="XK2">
          MATTIFYING FACE TONER CHO DA DẦU <br>
          • Làm sạch và làm mờ sương mù mặt <br>
          • Nhắm mục tiêu nhờn và lỗ chân lông
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-4 text-center" *ngFor="let item of xitkhoang.slice(0, 4) ">
        <div class="single-product-item">
          <div class="product-image">
            <a (click)="chitiet(item)"><img src="{{urlimage}}{{item.IMAGE}}" alt=""></a>
          </div>
          <a (click)="chitiet(item)">
            <h3>{{item.TENSP}}</h3>
          </a>
          <div class="product-price"><s>{{item.GIANHAP | currency:'₫ ':'symbol':'1.0'}}
            </s>
            <p>{{item.GIABAN | currency:'₫ ':'symbol':'1.0'}}</p>
          </div>
          <a (click)="addToCart(item)" class="cart-btn-L"> Thêm vào giỏ</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end product section -->

<!-- product section -->
<div class="product-section mt-150 mb-150">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <div class="section-title">
          <h3><span class="orange-text">TONER</span></h3>
        </div>
      </div>
      <div class="ABNTN">
        <img class="ABNTN1" src="assets/img/Ảnh_trang_chủ/Toner.png" alt="">
        <h2 class="TN">TONER</h2>
        <a href="#" class="TN1">Tìm hiểu ngay</a>
        <p class="TN2">
          TONER DA MẶT CHO DA DẦU, DA NHẠY CẢM <br>
          • Làm giàu với chất làm sạch và LHA tẩy tế bào chết vi mô <br>
          • Giúp bỏ chặn và làm giảm rõ rệt vẻ ngoài của lỗ chân lông
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-4 text-center" *ngFor="let item of toner.slice(0, 4) ">
        <div class="single-product-item">
          <div class="product-image">
            <a (click)="chitiet(item)"><img src="{{urlimage}}{{item.IMAGE}}" alt=""></a>
          </div>
          <a (click)="chitiet(item)">
            <h3>{{item.TENSP}}</h3>
          </a>
          <div class="product-price"><s>{{item.GIANHAP | currency:'₫ ':'symbol':'1.0'}}
            </s>
            <p>{{item.GIABAN | currency:'₫ ':'symbol':'1.0'}}</p>
          </div>
          <a (click)="addToCart(item)" class="cart-btn-L"> Thêm vào giỏ</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end product section -->

<!-- product section -->
<div class="product-section mt-150 mb-150">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <div class="section-title">
          <h3><span class="orange-text">TINH CHẤT DƯỠNG DA</span></h3>
        </div>
      </div>
      <div class="ABNSR">
        <img class="ABNSR1" src="assets/img/Ảnh_trang_chủ/Serum.png" alt="">
        <h2 class="SR">SERUM</h2>
        <a href="#" class="SR1">Tìm hiểu ngay</a>
        <p class="SR2">
          HUYẾT THANH VITAMIN C NGUYÊN CHẤT 10% <br>
          • 96% nói rằng kết cấu của sản phẩm rất dễ chịu <br>
          • 87% nói rằng sản phẩm không để lại da dính <br>
          • 87% nói rằng làn da của họ trông tươi tắn <br>
          * Kết quả dựa trên thử nghiệm của người tiêu dùng trong 8 tuần
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-4 text-center" *ngFor="let item of serum.slice(0, 4) ">
        <div class="single-product-item">
          <div class="product-image">
            <a (click)="chitiet(item)"><img src="{{urlimage}}{{item.IMAGE}}" alt=""></a>
          </div>
          <a (click)="chitiet(item)">
            <h3>{{item.TENSP}}</h3>
          </a>
          <div class="product-price"><s>{{item.GIANHAP | currency:'₫ ':'symbol':'1.0'}}
            </s>
            <p>{{item.GIABAN | currency:'₫ ':'symbol':'1.0'}}</p>
          </div>
          <a (click)="addToCart(item)" class="cart-btn-L"> Thêm vào giỏ</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end product section -->

<!-- product section -->
<div class="product-section mt-150 mb-150">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <div class="section-title">
          <h3><span class="orange-text">KEM DƯỠNG GIẢM MỤN</span></h3>
        </div>
      </div>
      <div class="ABNKDGM">
        <img class="ABNKDGM1" src="assets/img/Ảnh_trang_chủ/Kem_dưỡng_giảm_mụn.png" alt="">
        <h2 class="KDGM">KEM DƯỠNG GIẢM MỤN</h2>
        <a href="#" class="KDGM1">Tìm hiểu ngay</a>
        <p class="KDGM2">
          Adapalene gel 0,1% là retinoid sức mạnh theo toa đầu tiên <br>
          có sẵn over-the-counter, mà không cần toa bác sĩ
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-4 text-center" *ngFor="let item of kemduonggiammun.slice(0, 4) ">
        <div class="single-product-item">
          <div class="product-image">
            <a (click)="chitiet(item)"><img src="{{urlimage}}{{item.IMAGE}}" alt=""></a>
          </div>
          <a (click)="chitiet(item)">
            <h3>{{item.TENSP}}</h3>
          </a>
          <div class="product-price"><s>{{item.GIANHAP | currency:'₫ ':'symbol':'1.0'}}
            </s>
            <p>{{item.GIABAN | currency:'₫ ':'symbol':'1.0'}}</p>
          </div>
          <a (click)="addToCart(item)" class="cart-btn-L"> Thêm vào giỏ</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end product section -->

<!-- product section -->
<div class="product-section mt-150 mb-150">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <div class="section-title">
          <h3><span class="orange-text">KEM DƯỠNG</span></h3>
        </div>
      </div>
      <div class="ABNKD">
        <img class="ABNKD1" src="assets/img/Ảnh_trang_chủ/Kem_dưỡng.png" alt="">
        <h2 class="KD">KEM DƯỠNG</h2>
        <p class="KD2">
          • Làm dịu da ngay lập tức <br>
          • Giúp giảm da sần sùi, nứt nẻ <br>
          • Giúp bảo vệ khỏi tác động khô của gió và thời tiết lạnh
        </p>
        <a href="#" class="KD1">Tìm hiểu ngay</a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-4 text-center" *ngFor="let item of kemduong.slice(0, 4) ">
        <div class="single-product-item">
          <div class="product-image">
            <a (click)="chitiet(item)"><img src="{{urlimage}}{{item.IMAGE}}" alt=""></a>
          </div>
          <a (click)="chitiet(item)">
            <h3>{{item.TENSP}}</h3>
          </a>
          <div class="product-price"><s>{{item.GIANHAP | currency:'₫ ':'symbol':'1.0'}}
            </s>
            <p>{{item.GIABAN | currency:'₫ ':'symbol':'1.0'}}</p>
          </div>
          <a (click)="addToCart(item)" class="cart-btn-L"> Thêm vào giỏ</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end product section -->

<!-- product section -->
<div class="product-section mt-150 mb-150">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <div class="section-title">
          <h3><span class="orange-text">KEM CHỐNG NẮNG</span></h3>
        </div>
      </div>
      <div class="ABNCN">
        <img class="ABNCN1" src="assets/img/Ảnh_trang_chủ/Kem_chống_nắng.png" alt="">
        <h2 class="CN">KEM CHỐNG NẮNG</h2>
        <p class="CN2">
          CÔNG NGHỆ TIÊN TIẾN TRONG MỘT KẾT <br>
          CẤU THANH LỊCH KHÔNG TRỌNG LƯỢNG <br>
          • 91% cho biết nó hấp thụ nhanh chóng <br>
          • 91% cho biết nó được xếp lớp dễ dàng lớp trang điểm <br>
          • 93% cho biết nó không để lại dư lượng <br>

        </p>
        <a href="#" class="CN1">Tìm hiểu ngay</a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-4 text-center" *ngFor="let item of kemchongnang.slice(0, 4) ">
        <div class="single-product-item">
          <div class="product-image">
            <a (click)="chitiet(item)"><img src="{{urlimage}}{{item.IMAGE}}" alt=""></a>
          </div>
          <a (click)="chitiet(item)">
            <h3>{{item.TENSP}}</h3>
          </a>
          <div class="product-price"><s>{{item.GIANHAP | currency:'₫ ':'symbol':'1.0'}}
            </s>
            <p>{{item.GIABAN | currency:'₫ ':'symbol':'1.0'}}</p>
          </div>
          <a (click)="addToCart(item)" class="cart-btn-L"> Thêm vào giỏ</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end product section -->
<!-- cart banner section -->
<section class="cart-banner pt-100 pb-100">
  <div class="container">
    <div class="row clearfix">
      <!--Image Column-->
      <div class="image-column col-lg-6">
        <div class="image">
          <div class="price-box">
            <div class="inner-price">
              <span class="price">
                <strong>30%</strong> <br>cho dòng B5
              </span>
            </div>
          </div>
          <img
            src="https://www.laroche-posay.us/dw/image/v2/AANG_PRD/on/demandware.static/-/Sites-lrp-us-Library/default/dw6057344d/images/homepage/Hyalu_2000x2000.jpg?sw=1595&sh=1595&sm=cut&sfrm=jpg&q=70"
            alt="">
        </div>
      </div>
      <!--Content Column-->
      <div class="content-column col-lg-6">
        <h3>Deal hot duy nhất<span class="orange-text"> 11/11</span></h3> <br>
        <h4>HYALU B5 TINH KHIẾT HYALURONIC ACID SERUM</h4>
        <div class="text">Huyết thanh hyaluronic mặt và cổ axit hyaluronic tinh khiết chống lão hóa này giúp
          da cảm thấy căng mọng khi chạm vào và giúp phục hồi làn da bằng cách bổ sung hàng rào độ ẩm tự
          nhiên. Huyết thanh này kết hợp axit hyaluronic tinh khiết đậm đặc, madecassoside và vitamin B5
          để có hiệu quả tối ưu đồng thời phù hợp với làn da nhạy cảm.</div>
        <!--Countdown Timer-->
        <div class="time-counter">
          <div class="time-countdown clearfix" data-countdown="2020/2/01">
            <div class="counter-column">
              <div class="inner"><span class="count">10</span>ngày</div>
            </div>
            <div class="counter-column">
              <div class="inner"><span class="count">10</span>giờ</div>
            </div>
            <div class="counter-column">
              <div class="inner"><span class="count">10</span>phút</div>
            </div>
            <div class="counter-column">
              <div class="inner"><span class="count">10</span>giây</div>
            </div>
          </div>
        </div>
        <a href="cart.html" class="cart-btn mt-3"> Thêm vào giỏ hàng</a>
      </div>
    </div>
  </div>
</section>
<!-- end cart banner section -->

<!-- testimonail-section -->
<!-- <div class="testimonail-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 offset-lg-1 text-center">
					<div class="testimonial-sliders">
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<img src="assets/img/avaters/avatar1.png" alt="">
							</div>
							<div class="client-meta">
								<h3>Saira Hakim <span>Local shop owner</span></h3>
								<p class="testimonial-body">
									" Sed ut perspiciatis unde omnis iste natus error veritatis et quasi architecto
									beatae vitae dict eaque ipsa quae ab illo inventore Sed ut perspiciatis unde omnis
									iste natus error sit voluptatem accusantium "
								</p>
								<div class="last-icon">
									<i class="fas fa-quote-right"></i>
								</div>
							</div>
						</div>
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<img src="assets/img/avaters/avatar2.png" alt="">
							</div>
							<div class="client-meta">
								<h3>David Niph <span>Local shop owner</span></h3>
								<p class="testimonial-body">
									" Sed ut perspiciatis unde omnis iste natus error veritatis et quasi architecto
									beatae vitae dict eaque ipsa quae ab illo inventore Sed ut perspiciatis unde omnis
									iste natus error sit voluptatem accusantium "
								</p>
								<div class="last-icon">
									<i class="fas fa-quote-right"></i>
								</div>
							</div>
						</div>
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<img src="assets/img/avaters/avatar3.png" alt="">
							</div>
							<div class="client-meta">
								<h3>Jacob Sikim <span>Local shop owner</span></h3>
								<p class="testimonial-body">
									" Sed ut perspiciatis unde omnis iste natus error veritatis et quasi architecto
									beatae vitae dict eaque ipsa quae ab illo inventore Sed ut perspiciatis unde omnis
									iste natus error sit voluptatem accusantium "
								</p>
								<div class="last-icon">
									<i class="fas fa-quote-right"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> -->
<!-- end testimonail-section -->
<!-- shop banner -->
<section class="shop-banner">
  <div class="container">
    <h3>Khám phá nguồn gốc của<br> da liễu thay đổi <span class="orange-text-L2">cuộc sống</span></h3>
    <div class="sale-percent"><span>Sale! <br> Upto</span>50% <span>off</span></div>
    <a href="shop.html" class="cart-btn btn-lg">Tìm hiểu thêm</a>
  </div>
</section>
<!-- end shop banner -->

<!-- latest news -->
<div class="latest-news pt-150 pb-150">
  <div class="container">

    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <div class="section-title">
          <h3>Có gì <span class="orange-text">mới</span></h3>
          <p>NHÃN HÀNG SỐ 1 ĐƯỢC CÁC CHUYÊN DA CHĂM SÓC DA KHUYÊN DÙNG TRÊN TOÀN THẾ GIỚI</p>

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="single-latest-news">
          <a href="single-news.html">
            <div class="latest-news-bg news-bg-1"></div>
          </a>
          <div class="news-text-box">
            <h3><a href="single-news.html">KHÁM PHÁ NGUỒN CỦA CHÚNG TÔI</a></h3>
            <p class="blog-meta">
              <span class="author"><i class="fas fa-user"></i> Ngô Văn Luân</span>
              <span class="date"><i class="fas fa-calendar"></i> 01/07/2001</span>
            </p>
            <p class="excerpt">Có nguồn gốc từ La Roche-Posay, Pháp và là thành phần cốt lõi trong các
              sản phẩm chăm sóc da của chúng tôi, nước suối nóng này tự nhiên giàu khoáng chất với đặc
              tính làm dịu và chống oxy hóa.</p>
            <a href="single-news.html" class="read-more-btn">Tìm hiểu thêm </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-latest-news">
          <a href="single-news.html">
            <div class="latest-news-bg news-bg-2"></div>
          </a>
          <div class="news-text-box">
            <h3><a href="single-news.html">BÊN TRONG CÔNG THỨC CỦA CHÚNG TÔI</a></h3>
            <p class="blog-meta">
              <span class="author"><i class="fas fa-user"></i> Ngô Văn Luân</span>
              <span class="date"><i class="fas fa-calendar"></i> 01/07/2001</span>
            </p>
            <p class="excerpt">Tìm hiểu về các thành phần chính bên trong công thức của chúng tôi. Khám
              phá hướng dẫn an toàn và thành phần mới của chúng tôi để giúp bạn hiểu rõ hơn về những
              gì bên trong các sản phẩm La Roche-Posay yêu thích của bạn.</p>
            <a href="single-news.html" class="read-more-btn">Tìm hiểu thêm</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
        <div class="single-latest-news">
          <a href="single-news.html">
            <div class="latest-news-bg news-bg-3"></div>
          </a>
          <div class="news-text-box">
            <h3><a href="single-news.html">TÌM KEM DƯỠNG ẨM CỦA BẠN PHÙ HỢP</a></h3>
            <p class="blog-meta">
              <span class="author"><i class="fas fa-user"></i> Ngô Văn Luân</span>
              <span class="date"><i class="fas fa-calendar"></i>01/07/2001</span>
            </p>
            <p class="excerpt">Cần giúp đỡ để quyết định loại kem dưỡng ẩm nào phù hợp với bạn? Làm một
              bài kiểm tra ngắn để tìm ra loại kem dưỡng ẩm da mặt tốt nhất cho loại da của bạn.</p>
            <a href="single-news.html" class="read-more-btn">Tìm hiểu thêm</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <a href="news.html" class="boxed-btn">Thêm nhiều tin tức mới về chúng tôi ?</a>
      </div>
    </div>
  </div>
</div>
<!-- end latest news -->
<section class="shop-banner1">
  <div class="container">
    <h3>KHÁM PHÁ NHỮNG ĐIỂM MẠNH <br>VÀ LĨNH VỰC ĐỘC ĐÁO CỦA <br> <span class="orange-text-L2">LÀN DA </span>CỦA BẠN ĐỂ
      CẢI THIỆN</h3>

    <a href="shop.html" class="cart-btn btn-lg">Tìm hiểu thêm</a>
  </div>
</section>
<!-- end latest news -->
<section class="shop-banner2">
  <div class="container">
    <h3>TÌM QUY TRÌNH CHĂM SÓC <br>DA CỦA BẠN VỚI BÀI KIỂM TRA<br> BỐN CÂU HỎI CỦA CHÚNG TÔI</h3>

    <a href="shop.html" class="cart-btn btn-lg">bắt đầu ngay</a>
  </div>
</section>
<!-- end latest news -->
<section class="shop-banner3">
  <div class="container">
    <h3>ĐĂNG KÝ NHẬN
      MỘT MẪU MIỄN PHÍ
      <br>CỦA
      ANTHELIOS LÀM TAN CHẢY SỮA<br>KEM CHỐNG NẮNG SPF 60
    </h3>

    <a href="shop.html" class="cart-btn btn-lg">tìm hiểu thêm</a>
  </div>
</section>
<!-- logo carousel -->
<!-- <div class="logo-carousel-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="logo-carousel-inner">
						<div class="single-logo-item">
							<img src="assets/img/company-logos/1.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company-logos/2.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company-logos/3.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company-logos/4.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company-logos/5.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> -->
<!-- end logo carousel -->
<div class="list-section pt-80 pb-80">
  <div class="container">
    <div class="row">

      <!-- <div class="col-lg-3 col-md-5 mb-5 mb-lg-0">
					<div class="list-box d-flex align-items-center">
						<div class="list-icon">
							<span class="material-symbols-rounded">
								local_shipping
								</span>
						</div>
						<div class="content">
							<h3>Free Shipping</h3>
							<p>When order over $75</p>
						</div>
					</div>
				</div> -->
      <div class="col-lg-3 col-md-5 mb-5 mb-lg-0">
        <div class="list-box d-flex align-items-center">
          <div class="list-icon">
            <span class="material-symbols-rounded">
              task_alt
            </span>
          </div>
          <div class="content">
            <p>Đảm bảo chính hãng</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-5 mb-5 mb-lg-0">
        <div class="list-box d-flex align-items-center">
          <div class="list-icon">
            <span class="material-symbols-rounded">
              video_camera_front
            </span>
          </div>
          <div class="content">
            <p>Tư vấn cùng chuyên gia</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-5 mb-5 mb-lg-0">
        <div class="list-box d-flex align-items-center">
          <div class="list-icon">
            <span class="material-symbols-rounded">
              local_shipping
            </span>
          </div>
          <div class="content">
            <p>Giao hàng nhanh chóng</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-5 mb-5 mb-lg-0">
        <div class="list-box d-flex justify-content-start align-items-center">
          <div class="list-icon">
            <span class="material-symbols-rounded">
              paid
            </span>
          </div>
          <div class="content">
            <p>Ưu đãi độc quyền</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- end features list section -->
