	<!-- footer -->
	<div class="footer-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="footer-box about-widget">
						<h2 class="widget-title">VỀ CHÚNG TÔI</h2>
						<p>CÔNG TY TNHH L’OREAL VIỆT NAM <br>
							Người đại diện: Ngô Văn Luân<br>
							Địa chỉ :Thanh Miện - Hải Dương <br>
							Email: luanngo01072001@gmail.com <br>
							MSDN: 0102289856 cấp ngày 23/05/2007 tại Hà Nội <br>
							Bạn đang truy cập trang web thương hiệu của Công ty L’OREAL Việt Nam. Phân phối sản phẩm
							được xử lý bởi Công ty OnPoint, mã số ĐKKD 0314709816, đại lý ủy quyền của L’OREAL Việt Nam.
						</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box get-in-touch">
						<h2 class="widget-title">BỘ SƯU TẬP ƯU ĐÃI</h2>
						<ul>
							<li>Tẩy trang và làm sạch</li>
							<li>Liệu trình chăm sóc da mụn</li>
							<li>Chống nắng</li>
							<li>Dưỡng ẩm và các liệu trình đặc biệt</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box pages">
						<h2 class="widget-title">PHÁP LÝ & CÂU HỎI</h2>
						<ul>
							<li>Chính sách bảo mật</li>
							<li>Chính sách giao hàng và thanh toán</li>
							<li>Chính sách Cookie</li>
							<li>Chính sách đổi trả</li>
							<li>FAQ</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box subscribe">
						<h2 class="widget-title">CÂU THƯỜNG GẶP</h2>
						<p>Vì sao chọn La Roche-Posay? <br>
							Cam kết từ La Roche-Posay</p>
						<form action="index.html">
							<input type="email" placeholder="Email">
							<button type="submit"><i class="fas fa-paper-plane"></i></button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end footer -->

	<!-- copyright -->
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<p>Copyrights &copy; 2022 - <a href="https://imransdesign.com/">Ngô Văn Luân</a>, All Rights
						Reserved.</p>
				</div>
				<div class="col-lg-6 text-right col-md-12">
					<div class="social-icons">
						<ul>
							<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end copyright -->
